.sidebar {
    box-sizing: border-box;
    grid-area: sidebar;
    background-color: #021019;
    border-right: 2px solid #158099;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: #158099;
  outline: 1px solid slategrey;
}

.sidebar .branding {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
}

.sidebar .region-cards {
    padding: 5px;
}